Hello ${in.getHeader('subscriber')}!

 
Thanks for using and searching with SMILe.

#foreach ($artist in $body)


The following news for the artist '${artist.artistName}' are provided: 


++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++                                                              Twitter                                                                 +++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


Recent Tweets for artist '${artist.artistName}': 
 #foreach ($tweet in $artist.twitterSection)
 ${tweet}
 #end
 
 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++                                                              YouTube                                                                 +++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


Your Youtube-Playlist for artist '${artist.artistName}':
 ${artist.yPlaylist}
 
 
 Channel: ${artist.yChannel}
 Channel name: ${artist.yChannelName}
 Subscribers: ${artist.ySubscriber}
 
 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++                                                               Last.FM                                                                +++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


The following events are upcoming for the following locations:

#foreach ($location in $artist.lastFMSection)
 ${location.locationName}
 #foreach ($event in $location.events)
   * ${event}
 #end
 
#end

 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++                                                                Amazon                                                                +++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


The following albums are on sale:

#foreach ($albenPojo in $artist.amazonSection)
Amazon-UID: ${albenPojo.amazonUid}
#foreach ($album in $albenPojo.alben)
   * Title: ${album.title}
   * Price: ${album.price}
   * Image URL: ${album.imageurl}
   * Page URL: ${album.pageurl}
#end
  
#end


++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

#end
  
 This is an auto generated email. You cannot reply.
 

Best Regards 

Your SMILe-Team  ;-)


PS.: Don't forget ... to SMILe :D

