Hello ${body.subscriberName}!

 
Thanks for using and searching with SMILe.


The following news for the artist '${body.artistName}' are provided: 


++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++                                                              Twitter                                                                 +++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


Recent Tweets for artist '${body.artistName}': 
 #foreach ($tweet in $body.twitterSection)
 ${tweet}
 #end
 
 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++                                                              YouTube                                                                 +++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


Your Youtube-Playlist for artist '${body.artistName}':
 ${body.yPlaylist}
 
 
 Channel: ${body.yChannel}
 Channel name: ${body.yChannelName}
 Subscribers: ${body.ySubscriber}
 
 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++                                                               Last.FM                                                                +++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


The following events are upcoming for the following locations:

#foreach ($location in $body.lastFMSection)
 ${location.locationName}
 #foreach ($event in $location.events)
   * ${event}
 #end
 
#end

 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++                                                                Amazon                                                                +++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


The following albums are on sale:

#foreach ($albenPojo in $body.amazonSection)
Amazon-UID: ${albenPojo.amazonUid}
#foreach ($album in $albenPojo.alben)
   * Title: ${album.title}
   * Price: ${album.price}
   * Image URL: ${album.imageurl}
   * Page URL: ${album.pageurl}
#end
  
#end


++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

 
  
 This is an auto generated email. You cannot reply.
 

Best Regards 

Your SMILe-Team  ;-)


PS.: Don't forget ... to SMILe :D

